body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(120deg, #1e90ff, #00c9a7);
}

.card {
  background: white;
  width: 380px;
  margin: 80px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

h1, h2 {
  text-align: center;
  color: #1e90ff;
}

p {
  color: #444;
}

input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  background: #00c9a7;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #009f87;
}

.small {
  font-size: 13px;
}

.terms-box {
  height: 160px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  font-size: 13px;
}

.center {
  text-align: center;
}

img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.live-box {
    background: #fff3e0;
    color: #8a3c00;
    padding: 15px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 1px solid #ddd;
}